In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('counterfeit_train.csv')
dft=pd.read_csv('counterfeit_test.csv')

In [3]:
df.head()

,Medicine_ID,Counterfeit_Weight,DistArea_ID,Active_Since,Medicine_MRP,Medicine_Type,SidEffect_Level,Availability_rating,Area_Type,Area_City_Type,Area_dist_level,Counterfeit_Sales
0,RRA15,13.100,Area046,1995,160.2366,Antimalarial,critical,0.070422,DownTown,Tier 1,Small,1775.5026
1,YVV26,NaN,Area027,1983,110.4384,Mstablizers,mild,0.013000,CityLimits,Tier 3,Medium,3069.1520
2,LJC15,9.025,Area046,1995,259.4092,Cardiac,mild,0.060783,DownTown,Tier 1,Small,2603.0920
3,GWC40,11.800,Area046,1995,99.9830,OralContraceptives,mild,0.065555,DownTown,Tier 1,Small,1101.7130
4,QMN13,NaN,Area019,1983,56.4402,Hreplacements,critical,0.248859,MidTownResidential,Tier 1,Small,158.9402

In [4]:
df.describe()

,Counterfeit_Weight,Active_Since,Medicine_MRP,Availability_rating,Counterfeit_Sales
count,5652.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,14.115057,1995.836316,151.401518,0.079174,2280.583480
std,4.649668,8.368979,62.203961,0.051481,1693.354404
min,5.855000,1983.000000,41.790000,0.013000,146.290000
25%,9.995000,1985.000000,104.509400,0.040058,933.265600
50%,13.800000,1997.000000,153.195700,0.066955,1902.670400
75%,18.050000,2002.000000,196.148350,0.107697,3207.638400
max,22.650000,2007.000000,277.188400,0.341391,13199.964800

In [5]:
df.loc[df['Counterfeit_Weight'].idxmax()]

Medicine_ID                         KFD15
Counterfeit_Weight                  22.65
DistArea_ID                       Area010
Active_Since                         1996
Medicine_MRP                      106.509
Medicine_Type                 Antibiotics
SidEffect_Level                      mild
Availability_rating              0.143127
Area_Type              MidTownResidential
Area_City_Type                     Tier 3
Area_dist_level                   Unknown
Counterfeit_Sales                 303.419
Name: 388, dtype: object

In [6]:
df.loc[df['Counterfeit_Weight'].isnull(),'Counterfeit_Weight']=df['Counterfeit_Weight'].mean()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
Medicine_ID            6818 non-null object
Counterfeit_Weight     6818 non-null float64
DistArea_ID            6818 non-null object
Active_Since           6818 non-null int64
Medicine_MRP           6818 non-null float64
Medicine_Type          6818 non-null object
SidEffect_Level        6818 non-null object
Availability_rating    6818 non-null float64
Area_Type              6818 non-null object
Area_City_Type         6818 non-null object
Area_dist_level        6818 non-null object
Counterfeit_Sales      6818 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [8]:
df.head()

,Medicine_ID,Counterfeit_Weight,DistArea_ID,Active_Since,Medicine_MRP,Medicine_Type,SidEffect_Level,Availability_rating,Area_Type,Area_City_Type,Area_dist_level,Counterfeit_Sales
0,RRA15,13.100000,Area046,1995,160.2366,Antimalarial,critical,0.070422,DownTown,Tier 1,Small,1775.5026
1,YVV26,14.115057,Area027,1983,110.4384,Mstablizers,mild,0.013000,CityLimits,Tier 3,Medium,3069.1520
2,LJC15,9.025000,Area046,1995,259.4092,Cardiac,mild,0.060783,DownTown,Tier 1,Small,2603.0920
3,GWC40,11.800000,Area046,1995,99.9830,OralContraceptives,mild,0.065555,DownTown,Tier 1,Small,1101.7130
4,QMN13,14.115057,Area019,1983,56.4402,Hreplacements,critical,0.248859,MidTownResidential,Tier 1,Small,158.9402

In [9]:
df['DistArea_ID'].value_counts()

Area017    760
Area046    749
Area013    749
Area035    748
Area049    739
Area045    736
Area027    735
Area018    729
Area010    442
Area019    431
Name: DistArea_ID, dtype: int64

In [10]:
dft['DistArea_ID'].value_counts()

Area027    200
Area018    199
Area045    193
Area049    191
Area013    183
Area035    182
Area046    181
Area017    166
Area010    113
Area019     97
Name: DistArea_ID, dtype: int64

In [11]:
df['Active_Since'].value_counts()

1983    1166
2005     760
1995     749
1985     749
2002     748
1997     739
2000     736
2007     729
1996     442
Name: Active_Since, dtype: int64

In [12]:
dft['Active_Since'].value_counts()

1983    297
2007    199
2000    193
1997    191
1985    183
2002    182
1995    181
2005    166
1996    113
Name: Active_Since, dtype: int64

In [13]:
df['Active_Since'].value_counts()==df['Active_Since'].value_counts()

1983    True
2005    True
1995    True
1985    True
2002    True
1997    True
2000    True
2007    True
1996    True
Name: Active_Since, dtype: bool

In [14]:
df['Medicine_Type'].value_counts()

Hreplacements         976
Antibiotics           970
Antiseptics           724
OralContraceptives    694
Antipyretics          536
Cardiac               522
Mstablizers           514
Tranquilizers         420
Analgesics            356
Antimalarial          339
Antacids              206
Statins               167
MuscleRelaxants       139
Antifungal            111
Stimulants             95
Antiviral              49
Name: Medicine_Type, dtype: int64

In [15]:
dft['Medicine_Type'].value_counts()

Antibiotics           262
Hreplacements         224
Antiseptics           186
OralContraceptives    162
Antipyretics          146
Mstablizers           134
Cardiac               127
Tranquilizers         100
Analgesics             89
Antimalarial           86
Statins                47
Antacids               45
Antifungal             37
MuscleRelaxants        30
Antiviral              15
Stimulants             15
Name: Medicine_Type, dtype: int64

In [16]:
df['flag']=0
dft['flag']=1

In [17]:
dff=pd.concat([df,dft],0)

In [18]:
dff.head()

,Active_Since,Area_City_Type,Area_Type,Area_dist_level,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,DistArea_ID,Medicine_ID,Medicine_MRP,Medicine_Type,SidEffect_Level,flag
0,1995,Tier 1,DownTown,Small,0.070422,1775.5026,13.100000,Area046,RRA15,160.2366,Antimalarial,critical,0
1,1983,Tier 3,CityLimits,Medium,0.013000,3069.1520,14.115057,Area027,YVV26,110.4384,Mstablizers,mild,0
2,1995,Tier 1,DownTown,Small,0.060783,2603.0920,9.025000,Area046,LJC15,259.4092,Cardiac,mild,0
3,1995,Tier 1,DownTown,Small,0.065555,1101.7130,11.800000,Area046,GWC40,99.9830,OralContraceptives,mild,0
4,1983,Tier 1,MidTownResidential,Small,0.248859,158.9402,14.115057,Area019,QMN13,56.4402,Hreplacements,critical,0

In [19]:
dff.loc[dff['Counterfeit_Weight'].isnull(),'Counterfeit_Weight']=dff['Counterfeit_Weight'].mean()

In [20]:
dff.head()

,Active_Since,Area_City_Type,Area_Type,Area_dist_level,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,DistArea_ID,Medicine_ID,Medicine_MRP,Medicine_Type,SidEffect_Level,flag
0,1995,Tier 1,DownTown,Small,0.070422,1775.5026,13.100000,Area046,RRA15,160.2366,Antimalarial,critical,0
1,1983,Tier 3,CityLimits,Medium,0.013000,3069.1520,14.115057,Area027,YVV26,110.4384,Mstablizers,mild,0
2,1995,Tier 1,DownTown,Small,0.060783,2603.0920,9.025000,Area046,LJC15,259.4092,Cardiac,mild,0
3,1995,Tier 1,DownTown,Small,0.065555,1101.7130,11.800000,Area046,GWC40,99.9830,OralContraceptives,mild,0
4,1983,Tier 1,MidTownResidential,Small,0.248859,158.9402,14.115057,Area019,QMN13,56.4402,Hreplacements,critical,0

In [21]:
dff['DistArea_ID'].value_counts()

Area027    935
Area013    932
Area046    930
Area035    930
Area049    930
Area045    929
Area018    928
Area017    926
Area010    555
Area019    528
Name: DistArea_ID, dtype: int64

In [22]:
dummy1=pd.get_dummies(dff['DistArea_ID'], prefix='DID')

In [23]:
dummy1.head()

,DID_Area010,DID_Area013,DID_Area017,DID_Area018,DID_Area019,DID_Area027,DID_Area035,DID_Area045,DID_Area046,DID_Area049
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0

In [24]:
dff=pd.concat([dff,dummy1],1)

In [25]:
dff=dff.drop(['DID_Area019','DistArea_ID'],1)

In [26]:
dff['Active_Since'].value_counts()

1983    1463
1985     932
1997     930
1995     930
2002     930
2000     929
2007     928
2005     926
1996     555
Name: Active_Since, dtype: int64

In [27]:
dummy1=pd.get_dummies(dff['Active_Since'], prefix='As')

In [28]:
dff=pd.concat([dff,dummy1],1)

In [29]:
dff.head()

,Active_Since,Area_City_Type,Area_Type,Area_dist_level,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,Medicine_Type,...,DID_Area049,As_1983,As_1985,As_1995,As_1996,As_1997,As_2000,As_2002,As_2005,As_2007
0,1995,Tier 1,DownTown,Small,0.070422,1775.5026,13.100000,RRA15,160.2366,Antimalarial,...,0,0,0,1,0,0,0,0,0,0
1,1983,Tier 3,CityLimits,Medium,0.013000,3069.1520,14.115057,YVV26,110.4384,Mstablizers,...,0,1,0,0,0,0,0,0,0,0
2,1995,Tier 1,DownTown,Small,0.060783,2603.0920,9.025000,LJC15,259.4092,Cardiac,...,0,0,0,1,0,0,0,0,0,0
3,1995,Tier 1,DownTown,Small,0.065555,1101.7130,11.800000,GWC40,99.9830,OralContraceptives,...,0,0,0,1,0,0,0,0,0,0
4,1983,Tier 1,MidTownResidential,Small,0.248859,158.9402,14.115057,QMN13,56.4402,Hreplacements,...,0,1,0,0,0,0,0,0,0,0

In [30]:
dff=dff.drop(['Active_Since','As_1996'],1)

In [31]:
dff.Medicine_Type.value_counts()

Antibiotics           1232
Hreplacements         1200
Antiseptics            910
OralContraceptives     856
Antipyretics           682
Cardiac                649
Mstablizers            648
Tranquilizers          520
Analgesics             445
Antimalarial           425
Antacids               251
Statins                214
MuscleRelaxants        169
Antifungal             148
Stimulants             110
Antiviral               64
Name: Medicine_Type, dtype: int64

In [32]:
dff['Medicine_Type']=dff['Medicine_Type'].astype('str')

In [33]:
dff.loc[dff['Medicine_Type'].isin(['Antiviral','Stimulants','Antifungal']),'Medicine_Type']='asa'
dff.Medicine_Type.value_counts()

Antibiotics           1232
Hreplacements         1200
Antiseptics            910
OralContraceptives     856
Antipyretics           682
Cardiac                649
Mstablizers            648
Tranquilizers          520
Analgesics             445
Antimalarial           425
asa                    322
Antacids               251
Statins                214
MuscleRelaxants        169
Name: Medicine_Type, dtype: int64

In [34]:
dummy1=pd.get_dummies(dff['Medicine_Type'],prefix='MT')

In [35]:
dff=pd.concat([dff,dummy1],1)

In [36]:
dff=dff.drop(['MT_MuscleRelaxants','Medicine_Type'],1)

In [37]:
dff.SidEffect_Level.value_counts()

mild        5517
critical    3006
Name: SidEffect_Level, dtype: int64

In [38]:
dff['cri']=np.where(dff['SidEffect_Level']=='critical',1,0)

In [39]:
dff= dff.drop(['SidEffect_Level'],1)

In [40]:
dff['Area_Type'].value_counts()

DownTown              5577
MidTownResidential    1083
CityLimits             935
Industrial             928
Name: Area_Type, dtype: int64

In [41]:
k= pd.crosstab(index=dff["Area_Type"],  # Make a crosstab
                      columns=dff["Area_City_Type"])

In [42]:
k

Area_City_Type      Tier 1  Tier 2  Tier 3
Area_Type
CityLimits               0       0     935
DownTown              1860    2785     932
Industrial               0       0     928
MidTownResidential     528       0     555

In [43]:
dummy1=pd.get_dummies( dff['Area_Type'], prefix='AT')

In [44]:
dummy1.head()

   AT_CityLimits  AT_DownTown  AT_Industrial  AT_MidTownResidential
0              0            1              0                      0
1              1            0              0                      0
2              0            1              0                      0
3              0            1              0                      0
4              0            0              0                      1

In [45]:
dff=pd.concat([dff,dummy1],1)

In [46]:
dff=dff.drop(['AT_Industrial', 'Area_Type'],1)

In [47]:
k= pd.crosstab(index=dff["Area_dist_level"],  # Make a crosstab
                      columns=dff["Area_City_Type"])

In [48]:
k

Area_City_Type   Tier 1  Tier 2  Tier 3
Area_dist_level
High                  0       0     932
Medium              930       0    1863
Small              1458     930       0
Unknown               0    1855     555

In [49]:
dummy1=pd.get_dummies( dff['Area_City_Type'], prefix='ACT')

dff['Area_City_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Area_City_Type, dtype: int64

In [50]:
dummy1.head()

   ACT_Tier 1  ACT_Tier 2  ACT_Tier 3
0           1           0           0
1           0           0           1
2           1           0           0
3           1           0           0
4           1           0           0

In [51]:
dff=pd.concat([dff,dummy1],1)

In [52]:
dff=dff.drop(['Area_City_Type', 'ACT_Tier 3'],1)

In [53]:
dff.head()

,Area_dist_level,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,flag,DID_Area010,DID_Area013,DID_Area017,...,MT_OralContraceptives,MT_Statins,MT_Tranquilizers,MT_asa,cri,AT_CityLimits,AT_DownTown,AT_MidTownResidential,ACT_Tier 1,ACT_Tier 2
0,Small,0.070422,1775.5026,13.100000,RRA15,160.2366,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
1,Medium,0.013000,3069.1520,14.115057,YVV26,110.4384,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,Small,0.060783,2603.0920,9.025000,LJC15,259.4092,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,Small,0.065555,1101.7130,11.800000,GWC40,99.9830,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
4,Small,0.248859,158.9402,14.115057,QMN13,56.4402,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0

In [54]:
dff['Area_dist_level'].value_counts()

Medium     2793
Unknown    2410
Small      2388
High        932
Name: Area_dist_level, dtype: int64

In [55]:
dummy1=pd.get_dummies( dff['Area_dist_level'], prefix='ADL')
dff=pd.concat([dff,dummy1],1)
dff=dff.drop(['Area_dist_level', 'ADL_High'],1)

In [56]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 1704
Data columns (total 45 columns):
Availability_rating      8523 non-null float64
Counterfeit_Sales        6818 non-null float64
Counterfeit_Weight       8523 non-null float64
Medicine_ID              8523 non-null object
Medicine_MRP             8523 non-null float64
flag                     8523 non-null int64
DID_Area010              8523 non-null uint8
DID_Area013              8523 non-null uint8
DID_Area017              8523 non-null uint8
DID_Area018              8523 non-null uint8
DID_Area027              8523 non-null uint8
DID_Area035              8523 non-null uint8
DID_Area045              8523 non-null uint8
DID_Area046              8523 non-null uint8
DID_Area049              8523 non-null uint8
As_1983                  8523 non-null uint8
As_1985                  8523 non-null uint8
As_1995                  8523 non-null uint8
As_1997                  8523 non-null uint8
As_2000                  8523 non-null uint8
As_2002                  8523 non-null uint8
As_2005                  8523 non-null uint8
As_2007                  8523 non-null uint8
MT_Analgesics            8523 non-null uint8
MT_Antacids              8523 non-null uint8
MT_Antibiotics           8523 non-null uint8
MT_Antimalarial          8523 non-null uint8
MT_Antipyretics          8523 non-null uint8
MT_Antiseptics           8523 non-null uint8
MT_Cardiac               8523 non-null uint8
MT_Hreplacements         8523 non-null uint8
MT_Mstablizers           8523 non-null uint8
MT_OralContraceptives    8523 non-null uint8
MT_Statins               8523 non-null uint8
MT_Tranquilizers         8523 non-null uint8
MT_asa                   8523 non-null uint8
cri                      8523 non-null int32
AT_CityLimits            8523 non-null uint8
AT_DownTown              8523 non-null uint8
AT_MidTownResidential    8523 non-null uint8
ACT_Tier 1               8523 non-null uint8
ACT_Tier 2               8523 non-null uint8
ADL_Medium               8523 non-null uint8
ADL_Small                8523 non-null uint8
ADL_Unknown              8523 non-null uint8
dtypes: float64(4), int32(1), int64(1), object(1), uint8(38)
memory usage: 815.7+ KB

In [57]:
train = dff.loc[dff['flag']==0]

In [58]:
test=dff[dff['flag']==1]

In [59]:
train.head()

,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,flag,DID_Area010,DID_Area013,DID_Area017,DID_Area018,...,MT_asa,cri,AT_CityLimits,AT_DownTown,AT_MidTownResidential,ACT_Tier 1,ACT_Tier 2,ADL_Medium,ADL_Small,ADL_Unknown
0,0.070422,1775.5026,13.100000,RRA15,160.2366,0,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
1,0.013000,3069.1520,14.115057,YVV26,110.4384,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0.060783,2603.0920,9.025000,LJC15,259.4092,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
3,0.065555,1101.7130,11.800000,GWC40,99.9830,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,0.248859,158.9402,14.115057,QMN13,56.4402,0,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0

In [60]:
test.head()

,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,flag,DID_Area010,DID_Area013,DID_Area017,DID_Area018,...,MT_asa,cri,AT_CityLimits,AT_DownTown,AT_MidTownResidential,ACT_Tier 1,ACT_Tier 2,ADL_Medium,ADL_Small,ADL_Unknown
0,0.112747,NaN,14.151608,HLZ81,85.5328,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0.144446,NaN,13.450000,ECE94,257.1460,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,0.144221,NaN,7.100000,SAD14,98.1172,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
3,0.100388,NaN,18.300000,EQV63,135.3730,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0.022585,NaN,14.151608,AIR10,112.8016,1,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0

In [61]:
test.head()

,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,flag,DID_Area010,DID_Area013,DID_Area017,DID_Area018,...,MT_asa,cri,AT_CityLimits,AT_DownTown,AT_MidTownResidential,ACT_Tier 1,ACT_Tier 2,ADL_Medium,ADL_Small,ADL_Unknown
0,0.112747,NaN,14.151608,HLZ81,85.5328,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0.144446,NaN,13.450000,ECE94,257.1460,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,0.144221,NaN,7.100000,SAD14,98.1172,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
3,0.100388,NaN,18.300000,EQV63,135.3730,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0.022585,NaN,14.151608,AIR10,112.8016,1,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0

In [62]:
y= train['Counterfeit_Sales']

In [63]:
X=train.drop(['Medicine_ID','Counterfeit_Sales','flag'],1)

In [64]:
from sklearn.model_selection import train_test_split
train,x_test,y_train,y_test=train_test_split(X,y, test_size=.20, random_state=2)

In [65]:
from sklearn.linear_model import LinearRegression, Ridge
alphas=np.linspace(.0001,10,100)
train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
from sklearn.cross_validation import KFold

C:\Users\DX\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [66]:
rmse_list=[]
for a in alphas:
    ridge = Ridge(fit_intercept=True, alpha=a)

    kf = KFold(len(train), n_folds=10)
    xval_err = 0
    for tr, ts in kf:
        ridge.fit(train.loc[tr], y_train[tr])
        p = ridge.predict(train.loc[ts])
        err = p - y_train[ts]
        xval_err += np.dot(err,err)
    rmse_10cv = np.sqrt(xval_err/len(tr))
    rmse_list.extend([rmse_10cv])
best_alpha=alphas[rmse_list==min(rmse_list)]
print('Alpha with min 10cv error is : ',best_alpha )

Alpha with min 10cv error is :  [ 10.]

In [67]:
ridge=Ridge(fit_intercept=True,alpha=best_alpha)
pred1=ridge.fit(train,y_train)

In [68]:
p_test=ridge.predict(x_test)

residual=p_test-y_test

rmse_ridge=np.sqrt(np.dot(residual,residual)/len(p_test))

rmse_ridge

1132.0077842718836

In [69]:
test.reset_index(drop=True,inplace=True)

In [70]:
test.head()

,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_ID,Medicine_MRP,flag,DID_Area010,DID_Area013,DID_Area017,DID_Area018,...,MT_asa,cri,AT_CityLimits,AT_DownTown,AT_MidTownResidential,ACT_Tier 1,ACT_Tier 2,ADL_Medium,ADL_Small,ADL_Unknown
0,0.112747,NaN,14.151608,HLZ81,85.5328,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0.144446,NaN,13.450000,ECE94,257.1460,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,0.144221,NaN,7.100000,SAD14,98.1172,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
3,0.100388,NaN,18.300000,EQV63,135.3730,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0.022585,NaN,14.151608,AIR10,112.8016,1,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0

In [71]:
medid=pd.DataFrame()

In [72]:
medid=test['Medicine_ID']
test.shape

(1705, 45)

In [73]:
test=test.drop(['Medicine_ID','Counterfeit_Sales','flag'],1)

In [75]:
pred=ridge.predict(test)

In [76]:
df = pd.DataFrame(pred, columns=['pred'])
df.head()

          pred
0  2843.310109
1  3912.556166
2  1427.688132
3   139.344612
4  -100.579711

In [77]:
test_data.head()

NameError: name 'test_data' is not defined

In [78]:
test_data=pd.DataFrame(pred, columns=['Counterfeit_Sales'])

In [79]:
test_data.head()

   Counterfeit_Sales
0        2843.310109
1        3912.556166
2        1427.688132
3         139.344612
4        -100.579711

In [80]:
test_data=pd.concat([medid,test_data],1)
test_data.to_csv('result.csv', index=False)